In [0]:
# Load Spark and access Databricks dataset
from pyspark.sql import SparkSession

# Initialize SparkSession (usually auto-initialized in Databricks)
spark = SparkSession.builder.getOrCreate()

# Load sample data
filepath = "/FileStore/tables/mudah_apartment_kl_selangor__1_-1.csv"
df = spark.read.csv(filepath, header=True, inferSchema=True)

# Show the first few rows
df.show(5)

+---------+--------------------+---------------+------------------+--------------------+-----------------+-----+-------+--------+-----------+-------------------+--------------------+---------------------+------------+
|   ads_id|           prop_name|completion_year|      monthly_rent|            location|    property_type|rooms|parking|bathroom|       size|          furnished|          facilities|additional_facilities|      region|
+---------+--------------------+---------------+------------------+--------------------+-----------------+-----+-------+--------+-----------+-------------------+--------------------+---------------------+------------+
|100323185|The Hipster @ Tam...|         2022.0|RM 4 200 per month|Kuala Lumpur - Ta...|      Condominium|    5|    2.0|     6.0|1842 sq.ft.|    Fully Furnished|Minimart, Gymnasi...| Air-Cond, Cooking...|Kuala Lumpur|
|100203973|        Segar Courts|           NULL|RM 2 300 per month|Kuala Lumpur - Ch...|      Condominium|    3|    1.0|     2.0|1170 sq.ft.|Partially Furnished|Playground, Parki...| Air-Cond, Cooking...|Kuala Lumpur|
|100323128|Pangsapuri Terata...|           NULL|RM 1 000 per month|Kuala Lumpur - Ta...|        Apartment|    3|   NULL|     2.0| 650 sq.ft.|    Fully Furnished|Minimart, Jogging...|                 NULL|Kuala Lumpur|
|100191767|Sentul Point Suit...|         2020.0|RM 1 700 per month|Kuala Lumpur - Se...|        Apartment|    2|    1.0|     2.0| 743 sq.ft.|Partially Furnished|Parking, Playgrou...| Cooking Allowed, ...|Kuala Lumpur|
| 97022692|     Arte Mont Kiara|           NULL|RM 1 299 per month|Kuala Lumpur - Mo...|Service Residence|    1|    1.0|     1.0| 494 sq.ft.|      Not Furnished|Parking, Security...|             Air-Cond|Kuala Lumpur|
+---------+--------------------+---------------+------------------+--------------------+-----------------+-----+-------+--------+-----------+-------------------+--------------------+---------------------+------------+
only showing top 5 rows

In [0]:
# Check the structure and data types of the DataFrame
df.printSchema()

root
 |-- ads_id: integer (nullable = true)
 |-- prop_name: string (nullable = true)
 |-- completion_year: double (nullable = true)
 |-- monthly_rent: string (nullable = true)
 |-- location: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- rooms: string (nullable = true)
 |-- parking: double (nullable = true)
 |-- bathroom: double (nullable = true)
 |-- size: string (nullable = true)
 |-- furnished: string (nullable = true)
 |-- facilities: string (nullable = true)
 |-- additional_facilities: string (nullable = true)
 |-- region: string (nullable = true)

In [0]:
# Show summary statistics for numerical columns
df.describe().show()

+-------+------------------+--------------------+-----------------+------------------+--------------------+---------------+------------------+------------------+------------------+---------------+-------------------+--------------------+---------------------+------------+
|summary|            ads_id|           prop_name|  completion_year|      monthly_rent|            location|  property_type|             rooms|           parking|          bathroom|           size|          furnished|          facilities|additional_facilities|      region|
+-------+------------------+--------------------+-----------------+------------------+--------------------+---------------+------------------+------------------+------------------+---------------+-------------------+--------------------+---------------------+------------+
|  count|             19991|               19043|            10806|             19989|               19991|          19991|             19985|             14289|             19985|          19991|              19986|               17782|                14043|       19991|
|   mean|9.97067053108899E7|                NULL|2014.822320932815|              NULL|                NULL|           NULL| 2.680278236501026|1.4168241304499964|1.8917187890918188|           NULL|               NULL|                NULL|                 NULL|        NULL|
| stddev|3482574.7035407154|                NULL|6.735354696429903|              NULL|                NULL|           NULL|0.8078379940634384|0.5673677630463505|0.5562656902904315|           NULL|               NULL|                NULL|                 NULL|        NULL|
|    min|          16525511|          1 Harmonis|           1977.0|RM 1 000 per month|Kuala Lumpur - Am...|      Apartment|                 1|               1.0|               1.0|       1 sq.ft.|    Fully Furnished|       Barbeque area| , Air-Cond, Cooki...|Kuala Lumpur|
|    max|         100854617|wangsa maju secti...|           2025.0|  RM 999 per month|Selangor - Ulu Klang|Townhouse Condo|      More than 10|              10.0|               8.0|99999999 sq.ft.|Partially Furnished|Tennis Court, Swi...| Washing Machine, ...|    Selangor|
+-------+------------------+--------------------+-----------------+------------------+--------------------+---------------+------------------+------------------+------------------+---------------+-------------------+--------------------+---------------------+------------+

In [0]:
# Count the number of rows in the dataset
row_count = df.count()
print(f"Total rows in the dataset: {row_count}")

Total rows in the dataset: 19991

In [0]:
# Group data by 'location' and count the number of listings
location_count_df = df.groupBy("location").count()

# Display the result for visualization
location_count_df.show(10)

+--------------------+-----+
|            location|count|
+--------------------+-----+
|  Kuala Lumpur - OUG|   63|
|Kuala Lumpur - Ji...|    9|
|Selangor - Kota D...|  172|
|Selangor - Puncak...|   63|
|Selangor - Bandar...|   32|
|Selangor - Glenmarie|   19|
|Selangor - Pulau ...|    1|
|Kuala Lumpur - So...|   60|
|Kuala Lumpur - Ch...|    1|
|Selangor - Petali...|  612|
+--------------------+-----+
only showing top 10 rows

In [0]:
# Sort by count in descending order
sorted_df = location_count_df.orderBy("count", ascending=False)
display(sorted_df.limit(5))

location,count
Kuala Lumpur - Cheras,1623
Selangor - Kajang,1022
Kuala Lumpur - Setapak,973
Selangor - Shah Alam,971
Selangor - Cyberjaya,879

In [0]:
# Group data by 'location' and count the number of listings
location_count_df = df.groupBy("location").count()

# Display the result for visualization
display(location_count_df.limit(10))

location,count
Kuala Lumpur - OUG,63
Kuala Lumpur - Jinjang,9
Selangor - Kota Damansara,172
Selangor - Puncak Alam,63
Selangor - Bandar Kinrara,32
Selangor - Glenmarie,19
Selangor - Pulau Indah (Pulau Lumut),1
Kuala Lumpur - Solaris Dutamas,60
Kuala Lumpur - Chan Sow Lin,1
Selangor - Petaling Jaya,612

Databricks visualization. Run in Databricks to view.

In [0]:
# Group by 'monthly_rent' and count occurrences, then sort by count in descending order
top_rent_values = df.groupBy("monthly_rent").count().orderBy("count", ascending=False)

# Show the top 10 most frequent rent values
top_rent_values.show(10)

# Visualize the data
display(top_rent_values)

+------------------+-----+
|      monthly_rent|count|
+------------------+-----+
|RM 1 500 per month| 1401|
|RM 1 200 per month| 1373|
|RM 1 300 per month| 1209|
|RM 1 600 per month| 1067|
|RM 1 400 per month| 1024|
|RM 1 000 per month|  986|
|RM 1 800 per month|  899|
|RM 1 100 per month|  828|
|RM 1 700 per month|  755|
|RM 2 000 per month|  728|
+------------------+-----+
only showing top 10 rows

monthly_rent,count
RM 1 500 per month,1401
RM 1 200 per month,1373
RM 1 300 per month,1209
RM 1 600 per month,1067
RM 1 400 per month,1024
RM 1 000 per month,986
RM 1 800 per month,899
RM 1 100 per month,828
RM 1 700 per month,755
RM 2 000 per month,728
RM 900 per month,604
RM 2 500 per month,456
RM 850 per month,441
RM 800 per month,433
RM 2 200 per month,427
RM 950 per month,381
RM 700 per month,350
RM 1 900 per month,343
RM 2 300 per month,330
RM 750 per month,299
RM 1 350 per month,293
RM 1 250 per month,276
RM 2 100 per month,257
RM 2 400 per month,223
RM 2 800 per month,208
RM 2 600 per month,204
RM 3 000 per month,203
RM 600 per month,173
RM 1 650 per month,165
RM 1 450 per month,164
RM 1 150 per month,159
RM 3 500 per month,156
RM 650 per month,155
RM 1 550 per month,144
RM 1 050 per month,106
RM 2 700 per month,100
RM 1 750 per month,97
RM 4 000 per month,97
RM 550 per month,84
RM 3 300 per month,84
RM 1 850 per month,83
RM 3 200 per month,81
RM 500 per month,76
RM 999 per month,73
RM 1 499 per month,71
RM 1 199 per month,67
RM 1 950 per month,56
RM 1 399 per month,53
RM 1 799 per month,53
RM 4 500 per month,49
RM 3 800 per month,47
RM 1 299 per month,46
RM 2 900 per month,45
RM 1 999 per month,43
RM 1 099 per month,41
RM 3 700 per month,41
RM 3 400 per month,38
RM 3 600 per month,37
RM 1 599 per month,36
RM 899 per month,27
RM 5 000 per month,26
RM 1 899 per month,25
RM 3 100 per month,24
RM 450 per month,22
RM 2 450 per month,22
RM 1 699 per month,21
RM 400 per month,21
RM 2 350 per month,20
RM 780 per month,19
RM 4 300 per month,18
RM 5 500 per month,18
RM 680 per month,17
RM 4 200 per month,17
RM 5 800 per month,16
RM 2 499 per month,15
RM 799 per month,15
RM 4 800 per month,15
RM 699 per month,15
RM 2 650 per month,13
RM 4 600 per month,13
RM 980 per month,13
RM 2 250 per month,13
RM 2 299 per month,12
RM 3 900 per month,12
RM 880 per month,12
RM 2 150 per month,12
RM 2 999 per month,12
RM 830 per month,11
RM 2 480 per month,10
RM 7 000 per month,10
RM 1 280 per month,10
RM 1 680 per month,10
RM 2 750 per month,10
RM 2 050 per month,9
RM 2 099 per month,9
RM 6 500 per month,9
RM 150 per month,9
RM 4 700 per month,9
RM 601 per month,9
RM 2 199 per month,8
RM 7 500 per month,8
RM 100 per month,8
RM 1 988 per month,8
RM 1 498 per month,7
RM 350 per month,7
RM 580 per month,7
RM 2 399 per month,7
RM 602 per month,7
RM 4 400 per month,7
RM 200 per month,7
RM 300 per month,7
RM 2 550 per month,7
RM 1 198 per month,7
RM 1 380 per month,7
RM 603 per month,7
RM 1 205 per month,6
RM 5 200 per month,6
RM 760 per month,6
RM 1 998 per month,6
RM 10 000 per month,6
RM 1 202 per month,6
RM 620 per month,6
RM 1 580 per month,6
RM 6 000 per month,6
RM 1 488 per month,6
RM 1 780 per month,6
RM 630 per month,6
RM 8 500 per month,5
RM 2 950 per month,5
RM 1 090 per month,5
RM 1 798 per month,5
RM 604 per month,5
RM 1 203 per month,5
RM 1 388 per month,5
RM 16 000 per month,5
RM 12 000 per month,5
RM 605 per month,5
RM 798 per month,5
RM 1 398 per month,5
RM 860 per month,5
RM 1 688 per month,5
RM 120 per month,5
RM 8 000 per month,5
RM 1 080 per month,4
RM 4 900 per month,4
RM 3 499 per month,4
RM 1 180 per month,4
RM 770 per month,4
RM 250 per month,4
RM 730 per month,4
RM 870 per month,4
RM 1 298 per month,4
RM 910 per month,4
RM 920 per month,4
RM 1 201 per month,4
RM 1 880 per month,4
RM 15 000 per month,4
RM 250 000 per month,4
RM 698 per month,4
RM 530 per month,4
RM 1 980 per month,3
RM 1 204 per month,3
RM 3 450 per month,3
RM 2 380 per month,3
RM 2 080 per month,3
RM 2 850 per month,3
RM 720 per month,3
RM 9 000 per month,3
RM 998 per month,3
RM 2 899 per month,3
RM 2 888 per month,3
RM 648 per month,3
RM 1 373 per month,3
RM 1 390 per month,3
RM 1 480 per month,3
RM 9 500 per month,3
RM 380 per month,3
RM 1 588 per month,3
RM 1 990 per month,3
RM 948 per month,3
RM 1 098 per month,3
RM 2 699 per month,3
RM 280 per month,3
RM 580 000 per month,3
RM 660 per month,3
RM 2 998 per month,3
RM 460 per month,3
RM 820 per month,3
RM 1 698 per month,3
RM 930 per month,2
RM 1 949 per month,2
RM 890 per month,2
RM 1 548 per month,2
RM 4 250 per month,2
null,2
RM 1 049 per month,2
RM 370 per month,2
RM 11 000 per month,2
RM 480 per month,2
RM 1 490 per month,2
RM 3 099 per month,2
RM 13 000 per month,2
RM 690 per month,2
RM 740 per month,2
RM 1 190 per month,2
RM 1 288 per month,2
RM 701 per month,2
RM 270 per month,2
RM 7 900 per month,2
RM 4 876 per month,2
RM 1 030 per month,2
RM 810 per month,2
RM 1 230 per month,2
RM 80 per month,2
RM 790 per month,2
RM 345 000 per month,2
RM 849 per month,2
RM 499 per month,2
RM 4 888 per month,2
RM 16 800 per month,2
RM 2 490 per month,2
RM 1 690 per month,2
RM 2 280 per month,2
RM 898 per month,2
RM 5 300 per month,2
RM 2 799 per month,2
RM 6 900 per month,2
RM 710 per month,2
RM 1 730 per month,2
RM 11 500 per month,2
RM 13 500 per month,2
RM 12 500 per month,2
RM 1 348 per month,2
RM 3 350 per month,2
RM 7 800 per month,2
RM 2 599 per month,2
RM 260 per month,2
RM 5 499 per month,2
RM 882 per month,2
RM 1 598 per month,2
RM 780 000 per month,1
RM 4 848 per month,1
RM 1 449 per month,1
RM 4 399 per month,1
RM 1 712 per month,1
RM 200 000 per month,1
RM 10 300 per month,1
RM 1 590 per month,1
RM 1 140 per month,1
RM 801 per month,1
RM 3 999 per month,1
RM 4 999 per month,1
RM 430 per month,1
RM 1 249 per month,1
RM 4 899 per month,1
RM 90 per month,1
RM 3 950 per month,1
RM 145 per month,1
RM 190 000 per month,1
RM 915 per month,1
RM 2 790 per month,1
RM 418 000 per month,1
RM 105 000 per month,1
RM 949 per month,1
RM 3 399 per month,1
RM 2 988 per month,1
RM 5 950 per month,1
RM 645 per month,1
RM 3 899 per month,1
RM 3 599 per month,1
RM 180 per month,1
RM 6 800 per month,1
RM 3 990 per month,1
RM 3 650 per month,1
RM 1 155 per month,1
RM 290 000 per month,1
RM 2 798 per month,1
RM 1 270 per month,1
RM 705 per month,1
RM 127 898 per month,1
RM 670 per month,1
RM 695 per month,1
RM 1 502 per month,1
RM 190 per month,1
RM 45 000 per month,1
RM 10 500 per month,1
RM 1 693 per month,1
RM 290 per month,1
RM 125 000 per month,1
RM 1 948 per month,1
RM 3 380 per month,1
RM 996 per month,1
RM 310 000 per month,1
RM 749 per month,1
RM 960 per month,1
RM 3 120 per month,1
RM 288 000 per month,1
RM 1 501 per month,1
RM 3 299 per month,1
RM 746 per month,1
RM 18 500 per month,1
RM 8 999 per month,1
RM 349 898 per month,1
RM 1 340 per month,1
RM 330 000 per month,1
RM 1 045 per month,1
RM 1 330 per month,1
RM 329 999 per month,1
RM 549 per month,1
RM 110 per month,1
RM 1 248 per month,1
RM 3 088 per month,1
RM 1 360 per month,1
RM 824 per month,1
RM 875 per month,1
RM 419 000 per month,1
RM 3 198 per month,1
RM 1 720 per month,1
RM 17 000 per month,1
RM 1 189 per month,1
RM 1 188 per month,1
RM 249 900 per month,1
RM 995 per month,1
RM 3 550 per month,1
RM 2 400 000 per month,1
RM 1 810 per month,1
RM 1 788 per month,1
RM 4 350 per month,1
RM 3 799 per month,1
RM 3 490 per month,1
RM 550 000 per month,1
RM 3 150 per month,1
RM 260 000 per month,1
RM 85 per month,1
RM 1 210 per month,1
RM 1 111 per month,1
RM 1 109 per month,1
RM 5 900 per month,1
RM 4 650 per month,1
RM 9 600 per month,1
RM 1 260 per month,1
RM 1 630 per month,1
RM 390 per month,1
RM 5 600 per month,1
RM 1 790 per month,1
RM 1 048 per month,1
RM 748 per month,1
RM 450 000 per month,1
RM 1 430 per month,1
RM 903 per month,1
RM 9 800 per month,1
RM 904 per month,1
RM 723 per month,1
RM 658 per month,1
RM 885 per month,1
RM 649 per month,1
RM 1 220 per month,1
RM 1 520 per month,1
RM 884 per month,1
RM 70 per month,1
RM 970 per month,1
RM 4 100 per month,1
RM 220 per month,1
RM 480 000 per month,1
RM 905 per month,1
RM 901 per month,1
RM 881 per month,1
RM 599 per month,1
RM 215 000 per month,1
RM 3 980 per month,1
RM 878 per month,1
RM 883 per month,1
RM 6 888 per month,1
RM 95 000 per month,1
RM 722 per month,1
RM 1 297 per month,1
RM 958 per month,1
RM 320 000 per month,1
RM 889 per month,1
RM 230 000 per month,1
RM 1 070 per month,1
RM 689 per month,1
RM 656 per month,1
RM 902 per month,1
RM 1 158 per month,1
RM 240 000 per month,1
RM 879 per month,1
RM 2 398 per month,1

In [0]:
# Group by 'monthly_rent' and count occurrences
rent_distribution = df.groupBy("monthly_rent").count().orderBy("monthly_rent", ascending=True)

# Display the result for visualization
display(rent_distribution.limit(10))

monthly_rent,count
null,2
RM 1 000 per month,986
RM 1 030 per month,2
RM 1 045 per month,1
RM 1 048 per month,1
RM 1 049 per month,2
RM 1 050 per month,106
RM 1 070 per month,1
RM 1 080 per month,4
RM 1 090 per month,5

Databricks visualization. Run in Databricks to view.